/* Global rules  */

:root {
  --main-color: #398724;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-color: #fbfcea;
  --main-text-color: #2c4b05;
  --second-text-color: #235a03;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Global rules  */

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

/* Scroll up */
.myBtn {
  position: fixed;
  display: none;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  padding: 13px 18px;
  font-size: 21px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.myBtn:hover {
  background-color: var(--second-text-color);
}
/* Scroll up */

/* main-tittle */
.main-title {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: var(--main-color);
  text-shadow: 0px 2px 2px black;
  display: block;
  margin: 10px 0px;
  line-height: 80px;
}
/* main-tittle */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Rubik", sans-serif;
}

/* global rules  */

/* ............................................................. */

/* header  */
.header {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 40px 0;
  z-index: 50000;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .container img {
  max-width: 100%;
  width: 75px;
}

.header .container .links {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin: auto;
}
.header .container .links li {
  position: relative;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.header .container .links li a {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.header .container .links li:hover a {
  color: var(--second-text-color);
}
.header .container .links li:hover {
  color: var(--second-text-color);
}
.header .container .berger-icon {
  border: 2px solid #666;
  padding: 11px 11px;
  display: none;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.header .container .berger-icon .icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 40px;
}
.header .container .berger-icon .icon span {
  display: block;
  width: 40px;
  background-color: #666;
  height: 5px;
  margin-bottom: 3px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.header .container .berger-icon .icon span:nth-child(2) {
  width: 18px;
}
.header .container .berger-icon:hover .icon span:nth-child(2) {
  width: 40px;
}

.header .container .list .links {
  display: none;
  background-color: white;
  padding: 15px 50px 10px 20px;
  position: absolute;
  right: 20px;
  top: 106px;
  border-radius: 8px 0px 8px 8px;
  -webkit-border-radius: 8px 0px 8px 8px;
  -moz-border-radius: 8px 0px 8px 8px;
  -ms-border-radius: 8px 0px 8px 8px;
  -o-border-radius: 8px 0px 8px 8px;
}

.header .container .list .links li {
  display: block;
  margin-bottom: 15px;
}

@media (max-width: 991px) {
  .header .container {
    justify-content: space-between;
    margin-right: 0px;
  }
  .header .container .links {
    display: none;
  }
  .header .container .list .links {
    display: block;
  }
  .header .container .links li::before {
    content: "";
    position: absolute;
    background-color: #ccc;
    width: 111px;
    height: 2px;
    left: 0px;
    bottom: -6px;
  }
  .header .container .berger-icon {
    display: block;
  }
}

/* Header */

/* map Section */
.map-section {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  margin-top: 50px;
}
.map-section .container {
  text-align: center;
  justify-content: center;
}
.map-section .container .box {
  overflow: hidden;
}

.map-section .container .box p {
  font-size: 23px;
  font-weight: 300;
  color: var(--main-text-color);
  line-height: 26px;
  max-width: 80%;
  margin: auto;
  margin-bottom: 30px;
}
.map-section .container .box .map iframe {
  width: 100%;
}
/* map Section */

/* Articles */

.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.articles .container {
  margin-top: 50px;
}

.articles .container .food-menu {
  display: flex;
  gap: 40px;
  margin: 0px 0px 80px 0;
  justify-content: center;
}
.articles .container .food-menu .title {
  font-size: 19px;
  font-weight: 600;
  color: var(--main-color);
  line-height: 21px;
  cursor: pointer;
  position: relative;
}
.articles .container .food-menu .title span::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--main-color);
  position: absolute;
  right: 0;
  bottom: -8px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.articles .container .food-menu .title:hover span::after {
  width: 100%;
}

.articles .container .food-menu .title:nth-child(1):before {
  font-family: "Font Awesome 5 free";
  content: "\f036";
  font-weight: 900;
  color: var(--main-color);
}
.articles .container .food-menu .title:nth-child(2)::first-letter {
  color: var(--main-color);
}
.articles .container .food-menu .title:nth-child(3)::first-letter {
  color: var(--main-color);
}
.articles .container .food-menu .title:nth-child(4)::first-letter {
  color: var(--main-color);
}

.articles .container .grid-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  margin-bottom: 40px;
}

.articles .container .box {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.articles .container .box:hover {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
}

.articles .container .box img {
  width: 100%;
  max-width: 100%;
}

.articles .container .box .text {
  padding: 20px;
}
.articles .container .box .text h3 {
  margin: 0;
}
.articles .container .box .text p {
  margin: 10px 0 0 0;
  line-height: 1.5;
  color: var(--text-color);
}

.articles .container .box .more {
  padding: 20px;
  border: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles .container .box .more a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .container .box .more i {
  color: var(--main-color);
}

.articles .container .box:hover .more i {
  animation: moving-arrow 0.6s linear infinite;
  -webkit-animation: moving-arrow 0.6s linear infinite;
}

/* testimonials */
.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-color);
}
.testimonials .container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
}
.testimonials .box {
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px #00000026;
  border-radius: 10px;
  position: relative;
}
.testimonials .box img {
  position: absolute;
  right: -10px;
  top: -35px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid var(--section-color);
}
.testimonials .box h3 {
  margin: 0 0 10px;
  color: var(--main-color);
}
.testimonials .box .title {
  color: var(--text-color);
  margin-bottom: 15px;
  display: block;
}
.testimonials .box .rate .filled {
  color: #ffc107;
}
.testimonials .box p {
  line-height: 1.5;
  color: #000000d6;
  margin-top: 10px;
  margin-bottom: 0;
}

/* testimonials */

/* Contact Us */
.contact-us {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: black;
}
.contact-us .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.contact-us .container .box-one .line-one {
  display: flex;
  padding-bottom: 20px;
}

.contact-us .container .box-one .line-one span i {
  margin: 25px 15px 0px 0px;
  font-size: 40px;
  color: white;
}
.contact-us .container .box-one .line-one p {
  font-size: 18px;
  font-weight: 400;
  color: white;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.contact-us .container .box-one .line-two {
  display: flex;
  padding-bottom: 30px;
}
.contact-us .container .box-one .line-two span i {
  margin: 9px 15px 0px 0px;
  font-size: 35px;
  color: white;
}
.contact-us .container .box-one .line-two p {
  font-size: 18px;
  font-weight: 400;
  color: white;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.contact-us .container .box-one .line-three {
  display: flex;
}
.contact-us .container .box-one .line-three span i {
  margin: -6px 15px 0px 0px;
  font-size: 35px;
  color: white;
}
.contact-us .container .box-one .line-three a {
  font-size: 18px;
  font-weight: 400;
  color: white;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.contact-us .container .box-two {
  max-width: 450px;
}
.contact-us .container .box-two h3 {
  color: white;
  font-size: 30px;
  font-weight: 700;
}
.contact-us .container .box-two p {
  color: #a7a6a6;
  line-height: 31px;
  font-size: 19px;
  font-weight: 500;
  padding: 15px 0px;
}

.contact-us .container .box-two .links {
  display: flex;
  justify-content: start;
}
.contact-us .container .box-two .links i {
  color: white;
  font-size: 30px;
  line-height: 27px;
  background-color: #302e2e;
  padding: 15px 18px;
  margin-right: 7px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.contact-us .container .box-two .links a:nth-child(1):hover i {
  background-color: #4a6bb1;
}
.contact-us .container .box-two .links a:nth-child(2):hover i {
  background-color: #0077b5;
}
.contact-us .container .box-two .links a:nth-child(3):hover i {
  background-color: #f54e56;
}
.contact-us .container .box-two .links a:nth-child(4):hover i {
  background-color: #1b1f23;
}

.contact-us .container .box-one .line-one p:hover,
.contact-us .container .box-one .line-two p:hover,
.contact-us .container .box-one .line-three a:hover {
  color: var(--main-color);
}
.contact-us .container .box-two .languages {
  display: flex;
  margin-top: 15px;
  justify-content: start;
}

.contact-us .container .box-two .languages .arabic,
.contact-us .container .box-two .languages .english,
.contact-us .container .box-two .languages .chinese {
  background-color: #302e2e;
  padding: 10px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.contact-us .container .box-two .languages .arabic:hover,
.contact-us .container .box-two .languages .english:hover,
.contact-us .container .box-two .languages .chinese:hover {
  background-color: #1b1f23;
}
.contact-us .container .box-two .languages .chinese {
  margin: 0 10px;
}
.contact-us .container .box-two .languages .english span,
.contact-us .container .box-two .languages .arabic span,
.contact-us .container .box-two .languages .chinese span {
  font-size: 17px;
  font-weight: 400;
  color: white;
}

.contact-us .container .box-two .languages span img {
  max-width: 25px;
}

@media (max-width: 991px) {
  .contact-us .container {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
@media (max-width: 768px) {
  .contact-us .container .box-one {
    margin: auto;
  }
  .contact-us .container .box-two {
    text-align: center;
  }
  .contact-us .container .box-two .links {
    display: flex;
    justify-content: center;
  }
  .contact-us .container .box-two .languages {
    justify-content: center;
  }
}
/* Contact Us */

/* Footer */
.footer {
  text-align: center;
  background-color: var(--main-color);
  margin: -30px 0;
}
.footer p {
  color: white;
  font-size: 19px;
  padding: 15px;
  padding-top: 23px;
}
.footer p span {
  padding: 0 10px;
}
/* Footer */

/* ///////////////// /////////////////////////////////////////////////*/

/* Animations */
@keyframes moving-arrow {
  100% {
    transform: translatex(10px);
    -webkit-transform: translatex(10px);
    -moz-transform: translatex(10px);
    -ms-transform: translatex(10px);
    -o-transform: translatex(10px);
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
/* Animations */
